/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: black;
  font-family: 'Inconsolata', sans-serif; }

.regular {
  color: white; }

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 90vw;
  margin: 0; }

@keyframes noise-anim {
  0% {
    clip: rect(22px, 9999px, 43px, 0); }
  5% {
    clip: rect(10px, 9999px, 22px, 0); }
  10% {
    clip: rect(65px, 9999px, 22px, 0); }
  15% {
    clip: rect(44px, 9999px, 4px, 0); }
  20% {
    clip: rect(6px, 9999px, 39px, 0); }
  25% {
    clip: rect(26px, 9999px, 67px, 0); }
  30% {
    clip: rect(77px, 9999px, 18px, 0); }
  35% {
    clip: rect(47px, 9999px, 56px, 0); }
  40% {
    clip: rect(98px, 9999px, 39px, 0); }
  45% {
    clip: rect(55px, 9999px, 17px, 0); }
  50% {
    clip: rect(48px, 9999px, 92px, 0); }
  55% {
    clip: rect(28px, 9999px, 89px, 0); }
  60% {
    clip: rect(90px, 9999px, 88px, 0); }
  65% {
    clip: rect(82px, 9999px, 45px, 0); }
  70% {
    clip: rect(83px, 9999px, 51px, 0); }
  75% {
    clip: rect(69px, 9999px, 16px, 0); }
  80% {
    clip: rect(22px, 9999px, 58px, 0); }
  85% {
    clip: rect(15px, 9999px, 94px, 0); }
  90% {
    clip: rect(63px, 9999px, 54px, 0); }
  95% {
    clip: rect(77px, 9999px, 81px, 0); }
  100% {
    clip: rect(30px, 9999px, 58px, 0); } }

@keyframes img-noise-anim {
  0% {
    -webkit-filter: hue-rotate(254deg) saturate(20) drop-shadow(2px 15px 19px #fff);
    filter: hue-rotate(255deg) saturate(12) drop-shadow(19px 12px 1px #fff); }
  2% {
    -webkit-filter: hue-rotate(44deg) saturate(34) drop-shadow(18px 14px 5px #fff);
    filter: hue-rotate(156deg) saturate(19) drop-shadow(3px 2px 10px #fff); }
  4% {
    -webkit-filter: hue-rotate(174deg) saturate(22) drop-shadow(5px 4px 4px #fff);
    filter: hue-rotate(59deg) saturate(49) drop-shadow(9px 8px 4px #fff); }
  6% {
    -webkit-filter: hue-rotate(336deg) saturate(25) drop-shadow(4px 5px 10px #fff);
    filter: hue-rotate(136deg) saturate(14) drop-shadow(18px 17px 6px #fff); }
  8% {
    -webkit-filter: hue-rotate(69deg) saturate(44) drop-shadow(13px 2px 8px #fff);
    filter: hue-rotate(219deg) saturate(49) drop-shadow(8px 16px 18px #fff); }
  10% {
    -webkit-filter: hue-rotate(54deg) saturate(19) drop-shadow(20px 10px 2px #fff);
    filter: hue-rotate(305deg) saturate(38) drop-shadow(16px 8px 11px #fff); }
  12% {
    -webkit-filter: hue-rotate(147deg) saturate(21) drop-shadow(5px 17px 4px #fff);
    filter: hue-rotate(118deg) saturate(34) drop-shadow(9px 10px 16px #fff); }
  14% {
    -webkit-filter: hue-rotate(185deg) saturate(44) drop-shadow(3px 10px 13px #fff);
    filter: hue-rotate(12deg) saturate(17) drop-shadow(11px 16px 14px #fff); }
  16% {
    -webkit-filter: hue-rotate(122deg) saturate(18) drop-shadow(20px 12px 20px #fff);
    filter: hue-rotate(332deg) saturate(5) drop-shadow(13px 7px 10px #fff); }
  18% {
    -webkit-filter: hue-rotate(207deg) saturate(12) drop-shadow(15px 3px 7px #fff);
    filter: hue-rotate(194deg) saturate(6) drop-shadow(12px 2px 20px #fff); }
  20% {
    -webkit-filter: hue-rotate(176deg) saturate(4) drop-shadow(5px 5px 19px #fff);
    filter: hue-rotate(44deg) saturate(21) drop-shadow(7px 3px 20px #fff); }
  22% {
    -webkit-filter: hue-rotate(83deg) saturate(42) drop-shadow(9px 16px 15px #fff);
    filter: hue-rotate(314deg) saturate(2) drop-shadow(3px 11px 5px #fff); }
  24% {
    -webkit-filter: hue-rotate(192deg) saturate(41) drop-shadow(5px 2px 10px #fff);
    filter: hue-rotate(185deg) saturate(4) drop-shadow(8px 10px 3px #fff); }
  26% {
    -webkit-filter: hue-rotate(289deg) saturate(15) drop-shadow(17px 1px 3px #fff);
    filter: hue-rotate(345deg) saturate(16) drop-shadow(6px 9px 15px #fff); }
  28% {
    -webkit-filter: hue-rotate(45deg) saturate(49) drop-shadow(17px 5px 10px #fff);
    filter: hue-rotate(219deg) saturate(9) drop-shadow(12px 10px 11px #fff); }
  30% {
    -webkit-filter: hue-rotate(179deg) saturate(35) drop-shadow(14px 6px 17px #fff);
    filter: hue-rotate(99deg) saturate(34) drop-shadow(5px 18px 20px #fff); }
  32% {
    -webkit-filter: hue-rotate(273deg) saturate(14) drop-shadow(20px 12px 13px #fff);
    filter: hue-rotate(166deg) saturate(38) drop-shadow(17px 5px 16px #fff); }
  34% {
    -webkit-filter: hue-rotate(13deg) saturate(23) drop-shadow(4px 15px 8px #fff);
    filter: hue-rotate(9deg) saturate(21) drop-shadow(12px 5px 17px #fff); }
  36% {
    -webkit-filter: hue-rotate(102deg) saturate(48) drop-shadow(2px 9px 10px #fff);
    filter: hue-rotate(132deg) saturate(18) drop-shadow(1px 11px 10px #fff); }
  38% {
    -webkit-filter: hue-rotate(304deg) saturate(8) drop-shadow(16px 7px 1px #fff);
    filter: hue-rotate(317deg) saturate(11) drop-shadow(18px 10px 18px #fff); }
  40% {
    -webkit-filter: hue-rotate(173deg) saturate(8) drop-shadow(16px 8px 2px #fff);
    filter: hue-rotate(52deg) saturate(31) drop-shadow(5px 7px 1px #fff); }
  42% {
    -webkit-filter: hue-rotate(341deg) saturate(19) drop-shadow(10px 5px 10px #fff);
    filter: hue-rotate(185deg) saturate(10) drop-shadow(12px 16px 2px #fff); }
  44% {
    -webkit-filter: hue-rotate(118deg) saturate(16) drop-shadow(10px 5px 14px #fff);
    filter: hue-rotate(91deg) saturate(46) drop-shadow(14px 5px 18px #fff); }
  46% {
    -webkit-filter: hue-rotate(239deg) saturate(38) drop-shadow(15px 16px 6px #fff);
    filter: hue-rotate(122deg) saturate(18) drop-shadow(13px 19px 16px #fff); }
  48% {
    -webkit-filter: hue-rotate(285deg) saturate(9) drop-shadow(5px 2px 16px #fff);
    filter: hue-rotate(15deg) saturate(33) drop-shadow(5px 13px 19px #fff); }
  50% {
    -webkit-filter: hue-rotate(324deg) saturate(9) drop-shadow(20px 2px 8px #fff);
    filter: hue-rotate(288deg) saturate(38) drop-shadow(6px 4px 15px #fff); }
  52% {
    -webkit-filter: hue-rotate(285deg) saturate(23) drop-shadow(9px 18px 18px #fff);
    filter: hue-rotate(180deg) saturate(50) drop-shadow(4px 7px 3px #fff); }
  54% {
    -webkit-filter: hue-rotate(159deg) saturate(12) drop-shadow(14px 11px 14px #fff);
    filter: hue-rotate(343deg) saturate(17) drop-shadow(15px 15px 7px #fff); }
  56% {
    -webkit-filter: hue-rotate(70deg) saturate(39) drop-shadow(4px 2px 11px #fff);
    filter: hue-rotate(198deg) saturate(43) drop-shadow(19px 1px 1px #fff); }
  58% {
    -webkit-filter: hue-rotate(149deg) saturate(40) drop-shadow(18px 16px 15px #fff);
    filter: hue-rotate(76deg) saturate(8) drop-shadow(1px 4px 8px #fff); }
  60% {
    -webkit-filter: hue-rotate(10deg) saturate(2) drop-shadow(10px 15px 3px #fff);
    filter: hue-rotate(32deg) saturate(8) drop-shadow(2px 19px 17px #fff); }
  62% {
    -webkit-filter: hue-rotate(260deg) saturate(38) drop-shadow(12px 2px 4px #fff);
    filter: hue-rotate(148deg) saturate(5) drop-shadow(7px 8px 16px #fff); }
  64% {
    -webkit-filter: hue-rotate(338deg) saturate(18) drop-shadow(12px 10px 1px #fff);
    filter: hue-rotate(91deg) saturate(46) drop-shadow(5px 6px 2px #fff); }
  66% {
    -webkit-filter: hue-rotate(21deg) saturate(19) drop-shadow(11px 1px 8px #fff);
    filter: hue-rotate(192deg) saturate(29) drop-shadow(7px 3px 7px #fff); }
  68% {
    -webkit-filter: hue-rotate(313deg) saturate(1) drop-shadow(7px 18px 13px #fff);
    filter: hue-rotate(338deg) saturate(50) drop-shadow(7px 9px 8px #fff); }
  70% {
    -webkit-filter: hue-rotate(54deg) saturate(30) drop-shadow(9px 13px 2px #fff);
    filter: hue-rotate(307deg) saturate(41) drop-shadow(9px 19px 9px #fff); }
  72% {
    -webkit-filter: hue-rotate(290deg) saturate(25) drop-shadow(18px 6px 17px #fff);
    filter: hue-rotate(24deg) saturate(9) drop-shadow(10px 17px 7px #fff); }
  74% {
    -webkit-filter: hue-rotate(300deg) saturate(20) drop-shadow(1px 18px 19px #fff);
    filter: hue-rotate(279deg) saturate(38) drop-shadow(1px 14px 10px #fff); }
  76% {
    -webkit-filter: hue-rotate(222deg) saturate(16) drop-shadow(11px 8px 12px #fff);
    filter: hue-rotate(176deg) saturate(33) drop-shadow(4px 3px 9px #fff); }
  78% {
    -webkit-filter: hue-rotate(229deg) saturate(21) drop-shadow(6px 20px 6px #fff);
    filter: hue-rotate(1deg) saturate(7) drop-shadow(9px 12px 9px #fff); }
  80% {
    -webkit-filter: hue-rotate(17deg) saturate(6) drop-shadow(10px 13px 18px #fff);
    filter: hue-rotate(228deg) saturate(19) drop-shadow(5px 6px 7px #fff); }
  82% {
    -webkit-filter: hue-rotate(37deg) saturate(14) drop-shadow(20px 15px 4px #fff);
    filter: hue-rotate(7deg) saturate(40) drop-shadow(15px 6px 12px #fff); }
  84% {
    -webkit-filter: hue-rotate(190deg) saturate(17) drop-shadow(7px 18px 8px #fff);
    filter: hue-rotate(29deg) saturate(31) drop-shadow(14px 1px 6px #fff); }
  86% {
    -webkit-filter: hue-rotate(102deg) saturate(36) drop-shadow(1px 10px 3px #fff);
    filter: hue-rotate(62deg) saturate(27) drop-shadow(9px 7px 13px #fff); }
  88% {
    -webkit-filter: hue-rotate(130deg) saturate(21) drop-shadow(6px 13px 9px #fff);
    filter: hue-rotate(96deg) saturate(29) drop-shadow(12px 11px 15px #fff); }
  90% {
    -webkit-filter: hue-rotate(35deg) saturate(46) drop-shadow(17px 12px 18px #fff);
    filter: hue-rotate(115deg) saturate(33) drop-shadow(20px 13px 10px #fff); }
  92% {
    -webkit-filter: hue-rotate(158deg) saturate(38) drop-shadow(14px 1px 4px #fff);
    filter: hue-rotate(187deg) saturate(17) drop-shadow(10px 1px 15px #fff); }
  94% {
    -webkit-filter: hue-rotate(283deg) saturate(2) drop-shadow(14px 5px 7px #fff);
    filter: hue-rotate(181deg) saturate(48) drop-shadow(2px 18px 17px #fff); }
  96% {
    -webkit-filter: hue-rotate(155deg) saturate(43) drop-shadow(18px 18px 9px #fff);
    filter: hue-rotate(299deg) saturate(50) drop-shadow(8px 18px 13px #fff); }
  98% {
    -webkit-filter: hue-rotate(33deg) saturate(1) drop-shadow(20px 1px 19px #fff);
    filter: hue-rotate(165deg) saturate(33) drop-shadow(1px 15px 8px #fff); }
  100% {
    -webkit-filter: hue-rotate(69deg) saturate(48) drop-shadow(19px 19px 9px #fff);
    filter: hue-rotate(268deg) saturate(29) drop-shadow(13px 16px 20px #fff); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -3px 0 red;
  top: 0;
  color: white;
  background: black;
  clip: rect(0, 90vw, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(4px, 9999px, 89px, 0); }
  5% {
    clip: rect(100px, 9999px, 54px, 0); }
  10% {
    clip: rect(21px, 9999px, 18px, 0); }
  15% {
    clip: rect(75px, 9999px, 58px, 0); }
  20% {
    clip: rect(62px, 9999px, 46px, 0); }
  25% {
    clip: rect(10px, 9999px, 31px, 0); }
  30% {
    clip: rect(75px, 9999px, 63px, 0); }
  35% {
    clip: rect(43px, 9999px, 36px, 0); }
  40% {
    clip: rect(46px, 9999px, 56px, 0); }
  45% {
    clip: rect(88px, 9999px, 94px, 0); }
  50% {
    clip: rect(47px, 9999px, 24px, 0); }
  55% {
    clip: rect(15px, 9999px, 89px, 0); }
  60% {
    clip: rect(98px, 9999px, 28px, 0); }
  65% {
    clip: rect(13px, 9999px, 45px, 0); }
  70% {
    clip: rect(60px, 9999px, 97px, 0); }
  75% {
    clip: rect(10px, 9999px, 40px, 0); }
  80% {
    clip: rect(42px, 9999px, 58px, 0); }
  85% {
    clip: rect(87px, 9999px, 65px, 0); }
  90% {
    clip: rect(86px, 9999px, 66px, 0); }
  95% {
    clip: rect(45px, 9999px, 43px, 0); }
  100% {
    clip: rect(29px, 9999px, 33px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 5px 0 purple;
  top: 0;
  color: white;
  background: black;
  clip: rect(0, 90vw, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.bigcat img {
  width: 21px;
  height: 25px;
  -moz-transition: all 10s ease;
  -o-transition: all 10s ease;
  -webkit-transition: all 10s ease;
  transition: all 10s ease; }

.bigcat img:hover {
  width: 90vh;
  height: 90vh;
  transform: rotate(180deg); }

.glitchimg img:hover {
  animation: img-noise-anim 10s infinite linear alternate-reverse; }

.smallcat {
  background: url(./assets/happycat.gif); }

.stopDownloadin {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: relative;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
  color: #fff; }
