/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: black;
  font-family: 'VT323', sans-serif; }

.regular {
  color: white; }

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 90vw;
  margin: 0; }

@keyframes noise-anim {
  0% {
    clip: rect(29px, 9999px, 93px, 0); }
  5% {
    clip: rect(65px, 9999px, 71px, 0); }
  10% {
    clip: rect(34px, 9999px, 47px, 0); }
  15% {
    clip: rect(17px, 9999px, 60px, 0); }
  20% {
    clip: rect(29px, 9999px, 8px, 0); }
  25% {
    clip: rect(75px, 9999px, 12px, 0); }
  30% {
    clip: rect(71px, 9999px, 29px, 0); }
  35% {
    clip: rect(5px, 9999px, 100px, 0); }
  40% {
    clip: rect(60px, 9999px, 53px, 0); }
  45% {
    clip: rect(12px, 9999px, 1px, 0); }
  50% {
    clip: rect(33px, 9999px, 33px, 0); }
  55% {
    clip: rect(68px, 9999px, 65px, 0); }
  60% {
    clip: rect(89px, 9999px, 44px, 0); }
  65% {
    clip: rect(52px, 9999px, 38px, 0); }
  70% {
    clip: rect(54px, 9999px, 83px, 0); }
  75% {
    clip: rect(19px, 9999px, 62px, 0); }
  80% {
    clip: rect(46px, 9999px, 49px, 0); }
  85% {
    clip: rect(33px, 9999px, 32px, 0); }
  90% {
    clip: rect(85px, 9999px, 94px, 0); }
  95% {
    clip: rect(38px, 9999px, 1px, 0); }
  100% {
    clip: rect(24px, 9999px, 27px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -3px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(93px, 9999px, 59px, 0); }
  5% {
    clip: rect(32px, 9999px, 96px, 0); }
  10% {
    clip: rect(25px, 9999px, 72px, 0); }
  15% {
    clip: rect(35px, 9999px, 24px, 0); }
  20% {
    clip: rect(10px, 9999px, 66px, 0); }
  25% {
    clip: rect(98px, 9999px, 79px, 0); }
  30% {
    clip: rect(91px, 9999px, 42px, 0); }
  35% {
    clip: rect(53px, 9999px, 39px, 0); }
  40% {
    clip: rect(26px, 9999px, 66px, 0); }
  45% {
    clip: rect(81px, 9999px, 6px, 0); }
  50% {
    clip: rect(92px, 9999px, 66px, 0); }
  55% {
    clip: rect(58px, 9999px, 5px, 0); }
  60% {
    clip: rect(29px, 9999px, 34px, 0); }
  65% {
    clip: rect(62px, 9999px, 46px, 0); }
  70% {
    clip: rect(100px, 9999px, 88px, 0); }
  75% {
    clip: rect(72px, 9999px, 75px, 0); }
  80% {
    clip: rect(33px, 9999px, 91px, 0); }
  85% {
    clip: rect(54px, 9999px, 70px, 0); }
  90% {
    clip: rect(29px, 9999px, 35px, 0); }
  95% {
    clip: rect(62px, 9999px, 87px, 0); }
  100% {
    clip: rect(48px, 9999px, 1px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 5px 0 purple;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.bigcat img {
  width: 21px;
  height: 25px;
  -moz-transition: all 10s ease;
  -o-transition: all 10s ease;
  -webkit-transition: all 10s ease;
  transition: all 10s ease; }

.bigcat img:hover {
  width: 90vh;
  height: 90vh;
  transform: rotate(180deg); }
