@import 'reset';
@import 'transitions';

body{
  background:black;
  font-family: 'Inconsolata', sans-serif;
}

.regular{
  color:white;
}
.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:90vw;
  margin:0;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-3px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:5px 0 purple; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

.bigcat img{
 width: 21px;
 height: 25px;
 @include transition(all 10s ease);
}

.bigcat img:hover{
  width:90vh;
  height:90vh;
  transform: rotate(180deg);
}